<div class="depot_form">
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>

<div class="container">
    <%= form_tag({}, class: "form-signin")  do %>
      <fieldset>
        <legend>Please Log In</legend>

        <div>
          <%= label_tag :email, 'Email:' %>
          <%= text_field_tag :email, params[:email], :placeholder => "Email address", :class => "input-block-level" %>
        </div>

        <div>
          <%= label_tag :password, 'Password:' %>
          <%= password_field_tag :password, params[:password], :placeholder => "Password", :class => "input-block-level" %>
        </div>
    
        <div>
          <%= submit_tag "Login", :class => "btn btn-large btn-primary btn-block" %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>