<h1>News Broadcast Script</h1>

<table class="table">
<tr><td>Project title:</td><td><%= @project.name %></td></tr>
<tr><td>Project date:</td><td><%= @project.date %></td></tr>
<tr><td>Slug:</td><td><%= @project.slug %></td></tr>
</table>

<table class="table" id="sortable" data-update_url="/sort">
  <thead>
    <tr>
      <th>VIDEO</th>
      <th>AUDIO</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @scenes.each do |scene| %>
      <tr class="item" data-item_id="<%= scene.id %>">
        <td><%= scene.script_video.upcase %></td>
        <td><%= scene.script_audio.upcase %></td>
        <td class="hidden-print"><%= link_to 'Edit', edit_scene_path(scene),  :class => "btn btn-mini btn-primary" %></td>
        <td class="hidden-print"><%= link_to 'Del', scene, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="hidden-print">
  <%= link_to 'New Scene', new_scene_path %> 
</div>

