<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Enter User Details</legend>
    
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </div>
    <div>
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation %>
    </div>

    <%= f.fields_for @user.workers do |builder| %>
     
      <div class="field">
        <%= builder.label :role %><br />
        <%= builder.text_field :role %>
      </div>

      <div class="field">
        <%= builder.label :department %><br />
        <%= builder.text_field :department %>
      </div>

      <%= builder.hidden_field :project_id, :value => "#{session[:current_project]}" %>

    <% end -%>

    <div class="actions">
      <%= f.submit %>
    </div>

  </fieldset>
<% end %>
