      <tr>
      	<td><%= document.scene_number %>
        <td><%= image_tag document.data.url(:thumb), :class => "img-thumbnail img-responsive" %></td>
        <td><%= document.name %></td>
        <!-- <td><%= document.data_content_type %></td> -->
        <!-- <td><%= document.project.name %></td> -->
        <td data-no-turbolink><%= link_to 'Show', document, :class => "btn btn-mini btn-default" %></td>
        <td><%= link_to 'Edit', edit_document_path(document),  :class => "btn btn-mini btn-primary" %></td>
        <td><%= link_to 'Delete', document, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger" %></td>
      </tr>

