      <tr>
      	<td><%= document.scene_number %>
        <% if document.video? || document.image? || document.pdf? %>
          <td><%= image_tag document.data.url(:thumb), :class => "img-thumbnail img-responsive" %></td>  
        <% elsif document.xls? || document.xlsx? %>
          <td><%= image_tag "/images/Excel.gif", :class => "img-thumbnail img-responsive" %></td>
        <% elsif document.doc? || document.docx? %>
          <td><%= image_tag "/images/Word.gif", :class => "img-thumbnail img-responsive" %></td>
        <% elsif document.audio? %>
          <td><%= image_tag "/images/File.gif", :class => "img-thumbnail img-responsive" %></td>
        <% elsif document.data_host == 'youtube' %>
          <td><%= image_tag "http://img.youtube.com/vi/#{document.data_ref}/2.jpg", :class => "img-thumbnail img-responsive" %></td>
        <% elsif document.data_host == 'vimeo' %>
        <td><%= image_tag "#{vimeo_thumbnail(document)}", :size => "120x90", :class => "img-thumbnail img-responsive" %></td>
        <% else %>
          <td><%= image_tag "/images/File.gif", :class => "img-thumbnail img-responsive" %></td>
        <% end %>

        <td><%= document.name %></td>
        <!-- <td><%= document.data_content_type %></td> -->
        <!-- <td><%= document.project.name %></td> -->
        <td data-no-turbolink><%= link_to 'Show', document, :class => "btn btn-mini btn-default" %></td>
        <td><%= link_to 'Edit', edit_document_path(document),  :class => "btn btn-mini btn-primary" %></td>
        <td><%= link_to 'Delete', document, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger" %></td>
      </tr>

