      <tr id="<%= "document_#{document.name.parameterize}" %>">
      	<td><%= document.scene_number %></td>
        <td id="<%= document.id %>" draggable>
        <% if document.video? || document.image? || document.pdf? %>
          <%= image_tag signed_url_for(:thumb, document), :id => document.id, :class => "img-thumbnail img-responsive" %>  
        <% elsif document.xls? || document.xlsx? %>
          <%= image_tag "/images/excel.png", :id => document.id, :class => "img-thumbnail img-responsive" %>
        <% elsif document.doc? || document.docx? %>
          <%= image_tag "/images/word.png", :id => document.id, :class => "img-thumbnail img-responsive" %>
        <% elsif document.audio? %>
          <%= image_tag "/images/audio.png", :id => document.id, :class => "img-thumbnail img-responsive" %>
        <% elsif document.data_host == 'youtube' %>
          <%= image_tag "http://img.youtube.com/vi/#{document.data_ref}/2.jpg", :id => document.id, :class => "img-thumbnail img-responsive" %>
        <% elsif document.data_host == 'vimeo' %>
        <%= image_tag "#{vimeo_thumbnail(document)}", :size => "120x90", :id => document.id, :class => "img-thumbnail img-responsive" %>
        <% else %>
          <%= image_tag "/images/file.png", :id => document.id, :class => "img-thumbnail img-responsive" %>
        <% end %>
        </td>

        <td id="document-name-<%= document.id %>"><%= document.name %></td>
        <!-- <td><%= document.data_content_type %></td> -->
        <!-- <td><%= document.project.name %></td> -->
        <td data-no-turbolink><%= link_to 'Show', document, :class => "btn btn-mini btn-default" %></td>
        <td><%= link_to 'Edit', edit_document_path(document),  :class => "btn btn-mini btn-primary" %></td>
        <td><%= link_to 'Delete', document, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger" %></td>
      </tr>

