<%= form_for(@document,:html => {:multipart => true}) do |f| %>
  <% if @document.errors.any? %>
    <div class="alert alert-error" id="error_explanation">
      <%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:

      <ul>
      <% @document.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <div class="input-prepend"><span class="add-on"><i class="icon-file"></i></span><%= f.text_field :name %></div>
  </div>

  <div class="field">
    <%= f.label "Scene number" %>
    <div class="input-prepend"><span class="add-on"><i class="icon-facetime-video"></i></span><%= f.text_field :scene_number %></div>
  </div>

  <div class="field">
    <%= f.label :location %>
    <div class="input-prepend"><span class="add-on"><i class="icon-globe"></i></span><%= f.text_field :location %></div>
  </div>

    <div class="field">
    <%= f.label :page %>
    <div class="input-prepend"><span class="add-on"><i class="icon-book"></i></span><%= f.text_field :page %></div>
  </div>

  <fieldset>
  <legend class="text-info">Browse your computer to upload a file</legend>
  <div class="field">
    <%= f.label :data %>
    <%= f.file_field :data %>
  </div>
  <span class="help-block">For this prototype, maximum file size is 40 MB</span>
  </fieldset>

  <fieldset>
  <legend class="text-info">Or use the url of a file directly</legend>

  <div class="field">
    <%= f.label :data_host %><br>
    <%= f.select :data_host, Video::HOST_TYPES,
prompt: 'Select a video hosting', include_blank: true %>
  </div>
  </span>
  <div class="field">
    <%= f.label :data_ref %><br>
    <%= f.text_field :data_ref %>
  </div>
  <span class="help-block">e.g: http://www.youtube.com/watch?v=[<b>Data ref</b>]</span>
  <span class="help-block">or http://vimeo.com/[<b>Data ref</b>]


</fieldset>

  <iframe id="feedback" name="feedback" title="empty" style="display:none" data-url="<%= heartbeat_documents_path %>" tabindex="-1" width="0" height="0" seamless></iframe>
  <div class="actions">
    <%= f.hidden_field :project_id, :value => "#{session[:current_project]}" %>
    <%= f.submit %>
  </div>
<% end %>


