<%= form_for(@document,:html => {:multipart => true}) do |f| %>
  <% if @document.errors.any? %>
    <div class="alert alert-error" id="error_explanation">
      <%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:

      <ul>
      <% @document.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

    <div class="field">
    <%= f.label "Scene number" %><br>
    <%= f.text_field :scene_number %>
  </div>

  <fieldset>
  <legend class="text-info">Browse your computer to upload a file</legend>
  <div class="field">
    <%= f.label :data %>
    <%= f.file_field :data %>
  </div>
  <span class="help-block">For this prototype, maximum file size is 40 MB</span>
  </fieldset>

  <fieldset>
  <legend class="text-info">Or use the url of a file directly</legend>

  <div class="field">
    <%= f.label :data_host %><br>
    <%= f.select :data_host, Video::HOST_TYPES,
prompt: 'Select a video hosting' %>
  </div>
  </span>
  <div class="field">
    <%= f.label :data_ref %><br>
    <%= f.text_field :data_ref %>
  </div>
  <span class="help-block">e.g: http://www.youtube.com/watch?v=[<b>Data ref</b>]</span>
  <span class="help-block">or http://vimeo.com/[<b>Data ref</b>]


</fieldset>

  <div class="actions">
    <%= f.hidden_field :project_id, :value => "#{session[:current_project]}" %>
    <%= f.submit %>
  </div>
<% end %>


