<%= form_for(@document,:html => {:target=> "upload_response",:multipart => true}, remote: true) do |f| %>
  <input name="authenticity_token" type="hidden" value=<%= form_authenticity_token %>>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% @document.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

    <div class="field">
    <%= f.label "Scene number" %><br>
    <%= f.text_field :scene_number %>
  </div>

  <div class="field">
    <%= f.label :data %><br>
    <%= f.file_field :data %>
  </div>
  <div class="actions">
    <%= f.hidden_field :project_id, :value => "#{session[:current_project]}" %>
    <%= f.submit %>
  </div>
<% end %>

<iframe id="upload_response" name="upload_response" title="empty" style="display:none" tabindex="-1" width="0" height="0" seamless></iframe>

