<%= form_for(@document,:html => {:multipart => true}) do |f| %>
  <% if @document.errors.any? %>
    <div class="alert alert-error" id="error_explanation">
      <%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:

      <ul>
      <% @document.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
  <div class="field">
    <%= f.label :name %>
    <div class="input-prepend"><span class="add-on"><i class="icon-file"></i></span><%= f.text_field :name %></div>
  </div>

  <div class="field">
    <%= f.label "Scene number" %>
    <div class="input-prepend"><span class="add-on"><i class="icon-facetime-video"></i></span><%= f.text_field :scene_number %></div>
  </div>

  <div class="field">
    <%= f.label :location %>
    <div class="input-prepend"><span class="add-on"><i class="icon-globe"></i></span><%= f.text_field :location %></div>
  </div>

    <div class="field">
    <%= f.label :page %>
    <div class="input-prepend"><span class="add-on"><i class="icon-book"></i></span><%= f.text_field :page %></div>
  </div>
  </fieldset>

 <!--  <div class="" id="DataSelectionModal">
          <div class="modal-body"> -->
            <div class="well">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#upload" data-toggle="tab">Upload from Computer</a></li>
                  <li><a href="#hosted" data-toggle="tab">Add external video link</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                
                        <div class="tab-pane active in" id="upload">

                            <fieldset>
                            <div class="field">
                              <%= f.label :data %>
                              <%= f.file_field :data %>
                              <span class="help-inline"><span class="label label-info">Info</span> Accepted formats are Word, Excel, JPG, GIF, PNG, PDF, MOV, MP4, Wav, MP3</span></br>
                              <span class="help-inline"><span class="label label-warning">Warning</span> Please be aware that there is currently an issue (being worked on) whereby the page can become irresponsive when uploading audio or video files. However, you can still know when the upload is finished as a new notification will still trigger in the top navigation bar upon completion. </span>
                            </div>
                            </fieldset>
            
                        </div>

                        <div class="tab-pane fade" id="hosted">
                              <fieldset>

                              <div class="field">
                                <%= f.label :data_host %><br>
                                <%= f.select :data_host, Video::HOST_TYPES,
                            prompt: 'Select a video hosting', include_blank: true %>
                              </div>
                              </span>
                              <div class="field">
                                <%= f.label :data_ref %><br>
                                <%= f.text_field :data_ref %>
                              </div>
                              <span class="help-block">e.g: http://www.youtube.com/watch?v=[<b>Data ref</b>]</span>
                              <span class="help-block">or http://vimeo.com/[<b>Data ref</b>]
                            </fieldset>
                        </div>
                </div>
            </div>


  <iframe id="feedback" name="feedback" title="empty" style="display:none" data-url="<%= heartbeat_documents_path %>" tabindex="-1" width="0" height="0" seamless></iframe>
  <div class="actions">
    <%= f.hidden_field :project_id, :value => "#{session[:current_project]}" %>
    <%= f.submit %>
  </div>
<% end %>


