
<p>
  <strong>Name:</strong>
  <%= @document.name %>
</p>

<p>
  <strong>Scene number:</strong>
  <%= @document.scene_number %>
</p>


<p>
<% if @document.pdf? %>
	<div class="embed-container">
	<iframe src="<%= @document.data.url %>">
	<%= link_to 'View document', @document.data.url %>
	</iframe>
	</div>
<% elsif @document.video? %>

<video id="a240e92d" class="sublime" poster="<%= @document.data.url(:poster) %>" width="400" height="300" title="Midnight Sun" data-uid="a240e92d" preload="none">
 <source src="<%= @document.data.url(:mobile) %>" />
 <!--  <source src="https://cdn.sublimevideo.net/vpa/ms_360p.mp4" />
  <source src="https://cdn.sublimevideo.net/vpa/ms_720p.mp4" data-quality="hd" />
  <source src="https://cdn.sublimevideo.net/vpa/ms_360p.webm" />
  <source src="https://cdn.sublimevideo.net/vpa/ms_720p.webm" data-quality="hd" /> -->
</video>

<% elsif @document.image? %>
	<%= image_tag @document.data.url %>
<% elsif @document.audio? %>
	<audio controls>
		<source src="<%= @document.data.url(:compressed) %>" type="audio/mp3" />
		<source src="<%= @document.data.url(:ogg_compressed) %>" type="audio/ogg" />
		<%= link_to 'Download document', @document.data.url %>
	</audio>
<% elsif @document.data_host == 'vimeo' %>

<iframe src="http://player.vimeo.com/video/<%= @document.data_ref %>" width="400" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

<% elsif @document.data_host == 'youtube' %>

<video class="sublime" data-youtube-id="<%= @document.data_ref %>" width="400" height="300" preload="none">
</video>

<% else %>
	<%= link_to 'Download document', @document.data.url %>
<% end %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', project_path(@document.project) %> |
<%= link_to 'Assign a task', "#" %> |
<%= link_to 'Share with a partner', "#" %>
<% if @document.office? %>
| <%= link_to 'View on Google Docs', "http://docs.google.com/viewer?url=#{signed_url(@document)}&embedded=true",:target => "_blank" %>
<% end %>

