
<table class="table">
	<thead>
    <tr>
      <th>Name</th>
      <th>Scene number</th>
      <th>Location</th>
      <th>Page</th>
    </tr>
  </thead>
  <tbody>
	  <tr><td> <%= @document.name %></td><td><%= @document.scene_number %></td><td><%= @document.location %></td><td><%= @document.page %></td></tr>
  </tbody>
</table>


<p>
<% if @document.pdf? %>
	<div class="embed-container">
	<iframe src="<%= signed_url_for(:original,@document) %>">
	<%= link_to 'View document', signed_url_for(:original,@document) %>
	</iframe>
	</div>
<% elsif @document.video? %>

<video id="a240e92d" class="sublime" poster="<%= signed_url_for(:poster, @document) %>" width="400" height="300" title="Midnight Sun" data-uid="a240e92d" preload="none">
 <source src="<%= signed_url_for(:mobile, @document) %>" />
</video>

<% elsif @document.image? %>
	<%= image_tag signed_url_for(:medium,@document) %>
<% elsif @document.audio? %>
	<audio controls>
		<source src="<%= signed_url_for(:compressed, @document) %>" type="audio/mp3" />
		<source src="<%= signed_url_for(:ogg_compressed, @document) %>" type="audio/ogg" />
		<%= link_to 'Download document', @document.data.url %>
	</audio>
<% elsif @document.data_host == 'vimeo' %>

<iframe src="https://player.vimeo.com/video/<%= @document.data_ref %>" width="400" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

<% elsif @document.data_host == 'youtube' %>

<video class="sublime" data-youtube-id="<%= @document.data_ref %>" width="400" height="300" preload="none">
</video>
<% elsif @document.office? %>
<%= link_to 'Download document', signed_url_for(:original, @document) %> or <%= link_to 'View on Google Docs', google_viewer_url(signed_url_for(:original,@document)),:target => "_blank" %>
<% else %>
	<%= link_to 'Download document', @document.data.url %>
<% end %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<% if @document.data.to_s !~ /missing\.png/%>
	<%= link_to 'Download original', signed_url_for(:original, @document) %> |
<% end %>
<%= link_to 'Assign a task', "#" %> |
<%= link_to 'Back to project page', project_path(@document.project) %> 

<%= render 'layouts/reminders' %>


