<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Project details</legend>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Your role in the project</legend>
    <% if @project.workers.where("user_id = #{@project.created_by}").count > 0 %>
      <%= f.fields_for :workers, @project.workers.where("user_id = #{@project.created_by}") do |builder| %>
        <div class="field">
          <%= builder.label :role %><br />
          <%= builder.text_field :role %>
        </div>

        <div class="field">
          <%= builder.label :department %><br />
          <%= builder.text_field :department %>
        </div>
          <%= builder.hidden_field :user_id, :value => "#{session[:user_id]}" %>
      <% end %>
    <% else %>
      <%= f.fields_for :workers, @project.workers do |builder| %>
        <div class="field">
          <%= builder.label :role %><br />
          <%= builder.text_field :role %>
        </div>

        <div class="field">
          <%= builder.label :department %><br />
          <%= builder.text_field :department %>
        </div>
        <%= builder.hidden_field :user_id, :value => "#{session[:user_id]}" %>
    <% end %>
    <% end %>

  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
