<h1>Listing projects</h1>

<table class="table">
     <tr class="nav-header"><td span="4">Projects you have created</td></tr>
    <% @projects.where("created_by = #{current_user.id}").each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= link_to 'Show', project, :class => "btn btn-mini btn-default" %></td>
        <td><%= link_to 'Edit', edit_project_path(project),  :class => "btn btn-mini btn-primary" %></td>
        <% if can? :destroy, project %>
          <td><%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger" %></td>
        <% end %>
      </tr>
    <% end %>
    <tr class="nav-header"><td span="4">Projects you participate in</td></tr>
    <% User.find(current_user.id).projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= link_to 'Show', project, :class => "btn btn-mini btn-default" %></td>
        <td><%= link_to 'Edit', edit_project_path(project),  :class => "btn btn-mini btn-primary" %></td>
        <% if can? :destroy, project %>
          <td><%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger" %></td>
        <% end %>
      </tr>
    <% end %>
</table>

<br>

<% if can? :create, Project %>
  <%= link_to 'New Project', new_project_path %>
<% end %>
