<h1>Listing projects</h1>

<table class="table">
     <tr class="nav-header"><td span="4">Projects you have created</td></tr>
    <% @projects.where("created_by = #{session[:user_id]}").each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <tr class="nav-header"><td span="4">Projects you participate in</td></tr>
    <% User.find(session[:user_id]).projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
</table>

<br>

<% if User.find(session[:user_id]).can_admin? %>
<%= link_to 'New Project', new_project_path %>
<% end %>
