<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<% if session[:user_id] %>
<p id="session"> Logged In (<%= link_to 'Logout', logout_path, method: :delete %>)</p>
<% end %>

<p>
  <strong>Project Name:</strong>
  <%= @project.name %>
</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Kind</th>
      <th>Project</th>
      <th>Thumbnail</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render(@project.documents.order("updated_at DESC")) %>
  </tbody>
</table>

<%= link_to 'New Document', new_document_path(:project_id => @project.id) %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
