<%= form_for(@proposal) do |f| %>
  <% if @proposal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proposal.errors.count, "error") %> prohibited this proposal from being saved:</h2>

      <ul>
      <% @proposal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :topic %><br>
    <%= f.text_area :topic, :rows => 10,  :class => "input-xxlarge" %>
    <span class="help-inline">
      <span class="label-warning">Write a concise paragraph about:</span>
      <ol>
<li>Your filmʼs subject (person, group, environment, social issue, etc.)</li>
<li>The necessary background information the audience must have to understand and to be
interested in the enclosed world you intend to present. Be sure to show how this information will emerge.</li>
</ol>
    </span>
  </div>

  <fieldset><legend>Structure</legend>
  <span class="help-inline">
    This section is how you hope to structure your film. When you are doing this, consider:
    <ol>
<li>How will you will handle the progression of time in the film</li>
<li>How and at what point information important to story development will appear</li>
<li>What you intend as the climactic sequence and where this should go</li>
<li>How this relates to other sequences in terms of the action rising toward the filmʼs
projected “crisis” or emotional apex and the falling action after it
<li>Sequences or interviews you intend to use as parallel storytelling</li>
</ol>

  </span>

  <div class="field">
    <%= f.label :premise %><br>
    <%= f.text_area :premise, :rows => 10,  :class => "input-xxlarge" %>
  </div>
  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_area :message, :rows => 10,  :class => "input-xxlarge" %>
  </div>
  <div class="field">
    <%= f.label :outline %><br>
    <%= f.text_area :outline, :rows => 10,  :class => "input-xxlarge" %>
  </div>
  <div class="field">
    <%= f.label :conflict %><br>
    <%= f.text_area :conflict, :rows => 10,  :class => "input-xxlarge" %>
    <span class="help-inline">
      <span class="label-warning">What is at issue in this film? Consider:</span>
      <ol>
      <li>Who wants what of whom?</li>
      <li>What conflicting principles do the characters stand for?</li>
      <li>Does your film put different principles in opposition (of opinion, of view, of vision and so
      forth)?</li>
      <li>How will we see one force finally meet with the other? (the “confrontation”--very
      important)</li>
      <li>What range of possible developments do you see emerging from this confrontation?</li>
      </ol>
    </span>
  </div>
  <div class="field">
    <%= f.label :audience_bias %><br>
    <%= f.text_area :audience_bias, :rows => 10,  :class => "input-xxlarge" %>
    <span class="help-inline">
      <span class="label-warning">To make a documentary means not only using conflicting “evidence” to put forward your subjectʼs dialectics, it also means knowing what stereotypes or expectations carried by your audience your film must deliberately set out to alter.</span>
      <ol>
<li>Biases ( may be positive or negative)</li>
<li>What alternative views, facts or ideas does the audience need to understand</li>
<li>What evidence will you show to get the audience to see those different truths</li>
</ol>
    </span>
  </div>
  <div class="field">
    <%= f.label :characters %><br>
    <%= f.text_area :characters, :rows => 10,  :class => "input-xxlarge" %>
  </div>
  <div class="field">
    <%= f.label :interviews %><br>
    <%= f.text_area :interviews, :rows => 10,  :class => "input-xxlarge" %>
    <span class="help-inline">
      <span class="label-warning">For each interview, list:</span>
      <ul>
<li>Name, role in life, metaphoric role in filmʼs dramatic structure</li>
<li>Main elements the interview will seek to establish</li>
</ul>
    </span>
  </div>

  <div class="field">
    <%= f.label :resolution %><br>
    <%= f.text_area :resolution, :rows => 10,  :class => "input-xxlarge" %>
    <span class="help-inline">
      <p>Write a brief paragraph about how you imagine your film will end and what you would like the ending to accomplish for the audience. Comparing any intended ending with the filmʼs beginning.</p>
    </span>
  </div>  
</fieldset>

  <fieldset>
    <legend>Project Schedule</legend>
  <div class="field">
    <%= f.label :preprod_start_date %><br>
    <%= f.date_select :preprod_start_date %>
  </div>

  <div class="field">
    <%= f.label :preprod_end_date %><br>
    <%= f.date_select :preprod_end_date %>
  </div>

  <div class="field">
    <%= f.label :prod_start_date %><br>
    <%= f.date_select :prod_start_date %>
  </div>

  <div class="field">
    <%= f.label :prod_end_date %><br>
    <%= f.date_select :prod_end_date %>
  </div>
  <div class="field">
    <%= f.label :postprod_start_date %><br>
    <%= f.date_select :postprod_start_date %>
  </div>
  <div class="field">
    <%= f.label :postprod_end_date %><br>
    <%= f.date_select :postprod_end_date %>
  </div>
  </fieldset>
  <fieldset>
    <legend>Form and Style</legend>
    <span class="help-inline">
      <p>
      Any special considerations in shooting or editing style that might further your filmʼs content. Here you might comment on narrative lighting, camera handling, type and amount of intercutting, juxtaposition of scenes, parallel storytelling and the like.</p>
    </span>
  <div class="field">
    <%= f.label :form %><br>
    <%= f.text_area :form, :rows => 10,  :class => "input-xxlarge" %>
  </div>
  <div class="field">
    <%= f.label :style %><br>
    <%= f.text_area :style, :rows => 10,  :class => "input-xxlarge" %>
  </div>
  </fieldset>

<fieldset>
<legend>What will make the project stand out</legend>
  <div class="field">
    <%= f.label :differentiation %><br>
    <%= f.text_area :differentiation, :rows => 10,  :class => "input-xxlarge" %>
  </div>
  <div class="field">
    <%= f.label :marketing %><br>
    <%= f.text_area :marketing, :rows => 10,  :class => "input-xxlarge" %>
  </div>

</fieldset>

<fieldset>
  <legend>Project Status and History</legend>

  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_area :status, :rows => 10,  :class => "input-xxlarge" %>
  </div>

  </fieldset>

  <div class="actions">
    <%= f.hidden_field :project_id, :value => "#{session[:current_project]}" %>
    <%= f.submit %>
  </div>
<% end %>
