<%= form_for(@proposal) do |f| %>
  <% if @proposal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proposal.errors.count, "error") %> prohibited this proposal from being saved:</h2>

      <ul>
      <% @proposal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :topic_synopsis %><br>
    <%= f.text_area :topic_synopsis, :rows => 10,  :class => "input-xxlarge" %>
    <span class="help-inline">
      <span class="label-warning">Write a concise paragraph about:</span>
      <ol>
<li>Your filmʼs subject (person, group, environment, social issue, etc.)</li>
<li>The necessary background information the audience must have to understand and to be
interested in the enclosed world you intend to present. Be sure to show how this information will emerge.</li>
</ol>
    </span>
  </div>

  <fieldset><legend>Structure</legend>

  <span class="help-inline">
    This section is how you hope to structure your film. When you are doing this, consider:
    <ol>
<li>How will you will handle the progression of time in the film</li>
<li>How and at what point information important to story development will appear</li>
<li>What you intend as the climactic sequence and where this should go</li>
<li>How this relates to other sequences in terms of the action rising toward the filmʼs
projected “crisis” or emotional apex and the falling action after it
<li>Sequences or interviews you intend to use as parallel storytelling</li>
</ol>

  </span>

  <div class="field">
    <%= f.label :premise %><br>
    <%= f.text_area :premise, :rows => 10,  :class => "input-xxlarge" %>
    <span class="help-inline">
      <span class="label-warning">This section is to detail the premise of your project.</span>
      This where the project background and the intended message should go.
    </span>
  </div>

  <div class="field">
    <%= f.label :audience %><br>
    <%= f.text_area :audience, :rows => 10,  :class => "input-xxlarge" %>
    <span class="help-inline">
      <span class="label-warning">This section is about the audience of the project</span>
      You need to be specific about the demographics of the target audience in terms of such items as:
    <ul>
      <li>age</li>
      <li>gender</li>
      <li>economic background</li>
      <li>ethnicity</li>
      <li>religion</li>
      <li>geography</li>
      <li>size of potential audience</li>
    </ul>
    </span>
  </div>

  <div class="field">
    <%= f.label :outline %><br>
    <%= f.text_area :outline, :rows => 10,  :class => "input-xxlarge" %>
  </div>

  <div class="field">
    <%= f.label :conflicts %><br>
    <%= f.text_area :conflicts, :rows => 10,  :class => "input-xxlarge" %>
    <span class="help-inline">
      <span class="label-warning">What is at issue in this film? Consider:</span>
      <ol>
      <li>Who wants what of whom?</li>
      <li>What conflicting principles do the characters stand for?</li>
      <li>Does your film put different principles in opposition (of opinion, of view, of vision and so
      forth)?</li>
      <li>How will we see one force finally meet with the other? (the “confrontation”--very
      important)</li>
      <li>What range of possible developments do you see emerging from this confrontation?</li>
      </ol>
    </span>
    <span class="help-inline">
      <span class="label-warning">To make a documentary means not only using conflicting “evidence” to put forward your subjectʼs dialectics, it also means knowing what stereotypes or expectations carried by your audience your film must deliberately set out to alter.</span>
      <ol>
<li>Biases ( may be positive or negative)</li>
<li>What alternative views, facts or ideas does the audience need to understand</li>
<li>What evidence will you show to get the audience to see those different truths</li>
</ol>
    </span>
  </div>

  <div class="field">
    <%= f.label :characters %><br>
    <%= f.text_area :characters, :rows => 10,  :class => "input-xxlarge" %>
    <span class="help-inline">
      <span class="label-warning">Write a brief paragraph about each of your main characters.</span>
      For each include:
      <ol>
<li> Who (name, relationship to others in film and so on)</li>
<li> Where (where does this person fit in the scheme of things?)</li>
<li>What (what is this characterʼs role, what makes the character(s) interesting, worthy of
special attention and significant? What is this character trying to do or to get at?)</li>
</ol>

    </span>
  </div>
  <div class="field">
    <%= f.label :interviews %><br>
    <%= f.text_area :interviews, :rows => 10,  :class => "input-xxlarge" %>
    <span class="help-inline">
      <span class="label-warning">For each interview, list:</span>
      <ul>
<li>Name, role in life, metaphoric role in filmʼs dramatic structure</li>
<li>Main elements the interview will seek to establish</li>
</ul>
    </span>
  </div>

  <div class="field">
    <%= f.label :resolution %><br>
    <%= f.text_area :resolution, :rows => 10,  :class => "input-xxlarge" %>
    <span class="help-inline">
      <p>Write a brief paragraph about how you imagine your film will end and what you would like the ending to accomplish for the audience. Comparing any intended ending with the filmʼs beginning.</p>
    </span>
  </div>  
</fieldset>

  
  <fieldset>
    <legend>Form and Style</legend>
    <span class="help-inline">
      <p>
      Any special considerations in shooting or editing style that might further your filmʼs content. Here you might comment on narrative lighting, camera handling, type and amount of intercutting, juxtaposition of scenes, parallel storytelling and the like.</p>
    </span>
  <div class="field">
    <%= f.label :form_style %><br>
    <%= f.text_area :form_style, :rows => 10,  :class => "input-xxlarge" %>
  </div>

  </fieldset>

<fieldset>
<legend>What will make the project stand out</legend>
  <div class="field">
    <%= f.label :differentiation %><br>
    <%= f.text_area :differentiation, :rows => 10,  :class => "input-xxlarge" %>
  </div>
  <div class="field">
    <%= f.label :distribution %><br>
    <%= f.text_area :distribution, :rows => 10,  :class => "input-xxlarge" %>
    <span class="help-inline">
      <span class="label-warning">Indicate here on which distribution channels you intend to make the project available</span>
      This may include:
      <ul>
       <li>theatrical release</li>
       <li>community screening</li>
       <li>DVD/Bluray</li>
       <li>VOD platform</li>
      </ul>
      If there are interactive or transmedia elements to the project, you should explain them here from a distribution point of view.
      Any form of marketing approaches should also be explained in this section.<p></p>
    </span>
  </div>

</fieldset>
<hr/>
  <div class="actions">
    <p>
      <%= f.hidden_field :project_id, :value => "#{session[:current_project]}" %>
      <%= f.submit %>
    </p>
  </div>
<% end %>
