<p id="notice"><%= notice %></p>

<p>
  <strong>Topic:</strong>
  <%= @proposal.topic %>
</p>

<p>
  <strong>Premise:</strong>
  <%= @proposal.premise %>
</p>

<p>
  <strong>Message:</strong>
  <%= @proposal.message %>
</p>

<p>
  <strong>Outline:</strong>
  <%= @proposal.outline %>
</p>

<p>
  <strong>Conflict:</strong>
  <%= @proposal.conflict %>
</p>

<p>
  <strong>Audience bias:</strong>
  <%= @proposal.audience_bias %>
</p>

<p>
  <strong>Characters:</strong>
  <%= @proposal.characters %>
</p>

<p>
  <strong>Interviews:</strong>
  <%= @proposal.interviews %>
</p>

<p>
  <strong>Preprod start date:</strong>
  <%= @proposal.preprod_start_date %>
</p>


<p>
  <strong>Preprod end date:</strong>
  <%= @proposal.preprod_end_date %>
</p>


<p>
  <strong>Prod start date:</strong>
  <%= @proposal.prod_start_date %>
</p>


<p>
  <strong>Prod end date:</strong>
  <%= @proposal.prod_end_date %>
</p>

<p>
  <strong>Postprod start date:</strong>
  <%= @proposal.postprod_start_date %>
</p>

<p>
  <strong>Postprod end date:</strong>
  <%= @proposal.postprod_end_date %>
</p>

<p>
  <strong>Form:</strong>
  <%= @proposal.form %>
</p>

<p>
  <strong>Style:</strong>
  <%= @proposal.style %>
</p>

<p>
  <strong>Resolution:</strong>
  <%= @proposal.resolution %>
</p>

<p>
  <strong>Differentiation:</strong>
  <%= @proposal.differentiation %>
</p>

<p>
  <strong>Marketing:</strong>
  <%= @proposal.marketing %>
</p>

<p>
  <strong>Status:</strong>
  <%= @proposal.status %>
</p>

<p>
  <strong>Project:</strong>
  <%= @proposal.project.name %>
</p>

<%= link_to 'Edit', edit_proposal_path(@proposal) %> |
<%= link_to 'Back', proposals_path %>
