  <% @plans.order(:position).each do |plan| %>
    <div class="span3 well">
      <h2 class="muted"><%= plan.name %> </h2>
      <%= sanitize(plan.features) %>
      <p><%= plan.description %></p>
      <p> Max. no. of concurrent projects: <strong><%= plan.max_projects %></strong></p>
      <p> Max. no. of users/project: <strong><%= plan.max_users %></strong></p>
      <div class="prices">
        <hr>
        <% if !plan.price.nil? %>
        <h4>US$ <%= plan.price %> / month</h4>
        <% end %>
        <hr>
      </div>
      <div class="buttons">
          <% if plan.is_available %>
          <p><a class="btn btn-large" href="#"><i class="icon-ok"></i> <%= plan.call_to_action %></a></p>
          <% else %>
          <p><a class="btn btn-large disabled" href="#"><i class="icon-remove"></i> Not Available</a></p>
          <% end %>
      </div>
    </div>
  <% end %>
          