  <% @plans.order(:position).each do |plan| %>
    <div class="span3 well">
      <h2 class="muted"><%= plan.name %> </h2>
      <%= sanitize(plan.features) %>
      <p><%= plan.description %></p>
      <% if plan.max_projects != nil %>
        <p> Max. no. of concurrent projects: <strong><%= plan.max_projects %></strong></p>
      <% end %>
      <% if plan.max_users != nil %>
        <p> Max. no. of users/project: <strong><%= plan.max_users %></strong></p>
      <% end %>
      <div class="prices">
        <hr>
        <% if !plan.price.nil? %>
        <h4>US$ <%= plan.price %> / month</h4>
        <% else %>
          <br/>
        <% end %>
        <hr>
      </div>
      <div class="buttons">
          <% if plan.is_available %>
            <% if plan.name == "Consultancy" %>
              <p><a class="btn btn-large" href="https://docs.google.com/a/cinecinetique.com/forms/d/1U5dLBEPEr_LFN4isKcICBl3i2ujBUKkQb7FWNCtph2Y/viewform"><i class="icon-ok"></i> <%= plan.call_to_action %></a></p>
            <% else %>

              <form action="<%= PAYPAL_URL %>/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="custom" value="<%= current_user.id %>">
<input type="hidden" name="item_number" value="<%= plan.id %>">
<input type="hidden" name="hosted_button_id" value="<%= eval('::' + plan.name.upcase + '_PAYPAL_BUTTON') %>">
<input id=<%= plan.name.downcase %> type="image" src="<%= PAYPAL_URL %>/en_GB/HK/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
<img alt="" border="0" src="<%= PAYPAL_URL %>/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>

            <% end %>
          <% else %>
          <p><a class="btn btn-large disabled" href="#"><i class="icon-remove"></i> Not Available</a></p>
          <% end %>
      </div>
    </div>
  <% end %>
          