<%= link_to "Cinecinetique", root_path, :class => 'brand' %>
<ul class="nav">
	<li>
    <%= link_to('Statistics', documents_path, :method=>'delete') %>
    </li>
	<li>
    <%= link_to('Community', documents_path, :method=>'delete') %>
    </li>
  </ul>
  <p class="navbar-text pull-right">
  <% if session[:current_project] && Project.ids.include?(session[:current_project]) %>
     Current project: <%= Project.find(session[:current_project]).name %> 
  <% end %>
     | 
  <% if session[:user_id] %>

    logged in as <%= User.find_by(email: session[:email]).name %> (<%= link_to('Logout', logout_path, :method=>'delete') %>)
  <% else %>
    <%= link_to('Login', login_path)  %>
  <% end %>
  </p>
