<%= link_to "Cinecinetique", root_path, :class => 'brand' %>
<ul class="nav">
	<li>
    <%= link_to('Statistics', documents_path, :method=>'delete') %>
    </li>
	<li>
    <%= link_to('Community', documents_path, :method=>'delete') %>
    </li>
  </ul>
  <div ng-controller="NavigationCtrl">

  <p class="navbar-text pull-right">
    Notifications: <%= link_to "{{nb_changes}}", '#', :class => "badge badge-warning", "data-placement" => "bottom", "data-title" => "Changes", "bs-popover" => "'popover.html'" %> &nbsp;&nbsp;|&nbsp;
  <% if session[:current_project] && Project.ids.include?(session[:current_project]) %>
     Current project:&nbsp; <%= link_to Project.find(session[:current_project]).name, project_path(session[:current_project]) %> 
  <% end %>
     &nbsp;&nbsp;|&nbsp; 
  <% if session[:user_id] && User.ids.include?(session[:user_id])%>

    logged in as <%= User.find_by(email: session[:email]).name %> (<%= link_to('Logout', logout_path, :method=>'delete') %>)
  <% else %>
    <%= link_to('Login', login_path)  %>
  <% end %>

  </p>

<script type="text/ng-template" id="popover.html">
  <form name="NotificationPopoverForm">
  <ul>
  <li ng-repeat="item in items">{{item.updated_at | date:'On EEE, dd @ h:mma'}}: "{{item.name}}" was updated by {{item.changed_by}}</li>
  </ul>
  <div class="form-actions">
    <button type="button" class="btn btn-mini" ng-click="hide()">Close</button>
    <button class="btn btn-mini btn-primary" ng-click="popover.saved=true;resetNotifications();hide()">Mark as Seen</button>
  </div>
</form>
</script>
</div>