<!DOCTYPE html>
<html ng-app="CineCinetique">
<head>
  <title>Cinecinetique - Empowering Film and Video Producers</title>
  <%= stylesheet_link_tag    "application", media: "all"  %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//cdn.sublimevideo.net/js/jmlda1xc.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/0.7.4/angular-strap.min.js"></script>
  <script src="https://cdn.firebase.com/v0/firebase.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angularFire/0.2.0/angularfire.min.js"></script>
  <script type="text/javascript">
    var rails_env = '<%= Rails.env %>';
  </script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	 <header class="navbar navbar-fixed-top navbar-inverse">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
    <main role="main">
    	<div class="container">
    		<div class="row">
	    			<div class="span3">
            <% if session[:user_id] %> 				
		          <div class="well sidebar-nav sidebar-nav-fixed">
	    				  <%= render 'layouts/sidebar' %>
		          </div>	
            <% end %>		            
	    			</div> 

    			<div class="span6"> 
    				<%= render 'layouts/messages' %>
    				<%= yield %>
    			</div>
            <div class="span3">
            <% if session[:user_id] && session[:current_project] %>         
              <div class="well sidebar-nav sidebar-nav-fixed">            
                <%= render 'layouts/usersbar' %>   
              </div> 
            <% end %>                 
          </div> 
    		</div>
    	</div>
      <footer><%= render 'layouts/footer' %></footer>
  	</main>
  </body>
</html>
