<!DOCTYPE html>
<html>
<head>
  <title>Cinecinetique - Empowering Film and Video Producers</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//cdn.sublimevideo.net/js/jmlda1xc.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	 <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
    <main role="main">
    	<div class="container">
    		<div class="row">
    			<% if session[:user_id] %>
	    			<div class="span3">	    				
		          <div class="well sidebar-nav sidebar-nav-fixed">
	    				  <%= render 'layouts/sidebar' %>
		          </div>			            
	    			</div> 
    			<% end %>
    			<div class="span6"> 
    				<%= render 'layouts/messages' %>
    				<%= yield %>
    			</div>
            <div class="span3">              
              <div class="well sidebar-nav sidebar-nav-fixed">
                <% if session[:user_id] && session[:current_project] %>
                <%= render 'layouts/usersbar' %>
                <% end %>
              </div>                  
            </div> 
    		</div>
    	</div>
      <footer><%= render 'layouts/footer' %></footer>
  	</main>
  </body>
</html>
