<!DOCTYPE html>
<html>
<head>
  <title>Cinecinetique - Empowering Film and Video Producers</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag params[:controller], media: "all"  %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//cdn.sublimevideo.net/js/jmlda1xc.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <header class="navbar navbar-fixed-top navbar-inverse hidden-print">
        <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Cinecinetique</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="https://docs.google.com/a/cinecinetique.com/forms/d/1U5dLBEPEr_LFN4isKcICBl3i2ujBUKkQb7FWNCtph2Y/viewform">Contact Us</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
        </div>
    </header>
    
<%= yield %>

<footer><%= render 'layouts/footer' %></footer>
</body>
</html>
